<a href="https://colab.research.google.com/github/tellezap/python_lab02/blob/main/Ch_1%262_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 1

In [12]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

Exception reporting mode: Verbose

You might wonder what round does if a number ends in 0.5. The answer is that it sometimes rounds up and sometimes rounds down. Try these examples and see if you can figure out what rule it follows.

In [13]:
round(42.5)

42

In [14]:
round(43.5)

44

In [15]:
round(46.5)

46

In [16]:
round(48.5)

48

If the number ends in 0.5, does Python round up or down?

    Answer: It seems to round to the nearest even number.

When you learn about a new feature, you should try it out and make mistakes on purpose. That way, you learn the error messages, and when you see them again, you will know what they mean. It is better to make mistakes now and deliberately than later and accidentally.

You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about 2++2?

What happens if you have two values with no operator between them, like 4 2?

If you call a function like round(42.5), what happens if you leave out one or both parentheses?

   Answer:
*   It appears that nothing happens when you add a + in front of the number.
*   Adding two ++ returned no output.
*   No operator gives an error.
*   Forgetting or ommiting the () gives a syntax error

In [17]:
+2
2++2
4 2
round(42.5
round42.5

SyntaxError: invalid syntax (ipython-input-1465948037.py, line 3)

Recall that every expression has a value, every value has a type, and we can use the type function to find the type of any value.

What is the type of the value of the following expressions? Make your best guess for each one, and then use type to find out.

765 = int

2.718 = float

'2 pi' = string

abs(-7) = int

abs(-7.0) = float

abs = keyword

int = keyword

type = keyword

In [19]:
type(765)

int

In [20]:
type(2.718)

float

In [21]:
type('2 pi')

str

In [22]:
type(abs(-7))

int

In [23]:
type(-7.0)

float

In [24]:
type(abs)

builtin_function_or_method

In [25]:
type(int)

type

In [26]:
type(type)

type

The following questions give you a chance to practice writing arithmetic expressions.

1. How many seconds are there in 42 minutes 42 seconds?

2. How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

3. If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

4. What is your average pace in minutes and seconds per mile?

5. What is your average speed in miles per hour?

In [ ]:
# 1. Seconds in 42 min 42 sec
print(f'{((42*60)+42)} seconds')

2562 seconds

In [ ]:
# 2. Miles in 10 kilometers
print(f'{(10*1.61)} miles')

16.1 miles

In [ ]:
# 3. Ave pace of running 10 km in 42 min 42 sec
print(f'{round((2562/16.1),2)} avg pace sec/mi')

159.13 avg pace sec/mi

In [ ]:
# 4. avg pace in Min, Sec per miles
minutes = int(159.1304347826087/60)
seconds = int(159.1304347826087-(minutes*60))
print(f'{minutes} minutes, {seconds} seconds per mile')

2 minutes, 39 seconds per mile

In [ ]:
# 5. Avg speed in mi/hr
print(f'{round((159.1304347826087/60)/60,5)} averge speed mi/hr')

0.0442 averge speed mi/hr

# CHAPTER 2
##Ask a virtual assistant
Again, I encourage you to use a virtual assistant to learn more about any of the topics in this chapter.

If you are curious about any of keywords I listed, you could ask "Why is class a keyword?" or "Why can't variable names be keywords?"

You might have noticed that int, float, and str are not Python keywords. They are variables that represent types, and they can be used as functions. So it is legal to have a variable or function with one of those names, but it is strongly discouraged. Ask an assistant "Why is it bad to use int, float, and str as variable names?"

Also ask, "What are the built-in functions in Python?" If you are curious about any of them, ask for more information.

In this chapter we imported the math module and used some of the variable and functions it provides. Ask an assistant, "What variables and functions are in the math module?" and "Other than math, what modules are considered core Python?"

In [27]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

Exception reporting mode: Verbose

##Repeating my advice from the previous chapter, whenever you learn a new feature, you should make errors on purpose to see what goes wrong.

We've seen that n = 17 is legal. What about 17 = n?

How about x = y = 1?

In some languages every statement ends with a semi-colon (;). What happens if you put a semi-colon at the end of a Python statement?

What if you put a period at the end of a statement?

What happens if you spell the name of a module wrong and try to import maath?

In [28]:
n = 17

a variable can't begin with a number, it has to be a letter.

In [29]:
17 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-3678435050.py, line 1)

In [30]:
x = y = 1

In [31]:
b = 1;

In [33]:
print(b)

1

Seems ok to end with a ;

In [32]:
c = 4.

In [34]:
print(c)

4.0

And ok to end with a . as it makes it a float or will add it to a string if within the ''


##Practice using the Python interpreter as a calculator:

Part 1. The volume of a sphere with radius  r  is  43Ï€r3 . What is the volume of a sphere with radius 5? Start with a variable named radius and then assign the result to a variable named volume. Display the result. Add comments to indicate that radius is in centimeters and volume in cubic centimeters.

In [1]:
import math
radius = 5
volume = float(round((4 / 3)*math.pi*(radius**3), 2))
print(f"The volume of the sphere is: {volume} cubic centimeters")

The volume of the sphere is: 523.6 cubic centimeters

Part 2. A rule of trigonometry says that for any value of  x ,  (cosx)2+(sinx)2=1 . Let's see if it's true for a specific value of  x  like 42.

Create a variable named x with this value. Then use math.cos and math.sin to compute the sine and cosine of  x , and the sum of their squared.

The result should be close to 1. It might not be exactly 1 because floating-point arithmetic is not exact---it is only approximately correct.

In [2]:
x = 42
trig_variable = (math.sin(x)**2) + (math.cos(x)**2)
print(trig_variable)

1.0

Part 3. In addition to pi, the other variable defined in the math module is e, which represents the base of the natural logarithm, written in math notation as  e . If you are not familiar with this value, ask a virtual assistant "What is math.e?" Now let's compute  e2  three ways:

Use math.e and the exponentiation operator (**).

Use math.pow to raise math.e to the power 2.

Use math.exp, which takes as an argument a value,  x , and computes  ex .

You might notice that the last result is slightly different from the other two. See if you can find out which is correct.

In [3]:
method_1 = math.e**2
method_2 = math.pow(math.e,2)
method_3 = math.exp(2)
print(f"Method 1 (math.e ** 2):   {method_1}")
print(f"Method 2 (math.pow):      {method_2}")
print(f"Method 3 (math.exp):      {method_3}")

Method 1 (math.e ** 2):   7.3890560989306495
Method 2 (math.pow):      7.3890560989306495
Method 3 (math.exp):      7.38905609893065

Method_3 just seems to round the float to 2 less decimal places